@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --line-border-color: #3498db; 
  --line-border-none-color: #545454;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #272727;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container-wrap {
  background-color: #616161;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container-wrap.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #888888;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.container-wrap.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container-wrap.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}
  
nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content {
  display: flex;
  justify-content: center;
}


.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    text-align: center;
    background: rgb(222, 222, 222);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.331),
                -8px -8px 15px rgba(255, 255, 255, 0.5);
}

.progress-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
}

.progress-container::before{
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    background-color: var(--line-border-none-color);
    width: 100%;
    height: 4px;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.progress{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--line-border-color);
    width: 0%; 
    height: 4px;
    z-index: 1;
    transform: translateY(-50%);
    transition: width 0.4s ease;
}

.circle-step{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid var(--line-border-none-color);
    transition: 0.4s ease;
    font-weight: bold;
    z-index: 1; 
}

.circle-step.active{
    border-color: var(--line-border-color);
    color: var(--line-border-color);
    transform: scale(1.1); 
}


.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 100px;
}

.step-content{
    display: none;
    font-size: 1.2rem;
    color: #333;
}

.step-content.active{
    display: block;
}

.btn {
    background-color: var(--line-border-color);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 30px;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.1s;
}
.btn:hover{
    transform: scale(1.06);
    transition: all 0.2s ease;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2),
                -4px -4px 5px rgba(215, 215, 215, 0.9);
}
.btn:active{
    transform: scale(0.98);
    opacity: 0.6;
}
.btn:disabled {
    background-color: var(--line-border-none-color);
    cursor: not-allowed;
    color: #999;
}


.content-img {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

.content-img img {
  width: 340px;
  border-radius: 15px;
  box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.331),
              -8px -8px 15px rgba(255, 255, 255, 0.5);
}